.features{
    grid-column: center-start / center-end;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 6rem;

    margin: 15rem 0;
}

.feature{
    display: grid;
    grid-template-columns: min-content 1fr;

    &__icon{
        fill: $color-primary;
        width: 4.5rem;
        height: 4.5rem;;

        transform: translateY(-3rem);
    }

    &__text{
        font-size: 1.7rem;
        grid-column: 1 / -1;

    }
}